.Header
{
    text-align: center;
}
@media(max-width:450px)
{
    .Link{
        display:none;
    }
}
.Spinner
{
    margin: auto auto;
    justify-content: center;
    align-items: center;
    width: 9.5%;
    margin-top: 10%;
}
.Link
{
    width:70px;
    position:fixed;
    margin:5px;
    top:80px;
    border:none;
    background-color: transparent;
    text-align: center;
    padding:2px;
    right:50px;
    height:inherit;
    color:blue;
    cursor:pointer;
    font-size: medium;
}
.Link:hover,.Link:active
{
    text-decoration: underline;
}
.Link:focus{
    color:blueviolet;
}
.Message
{
    width:70%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #999;
    padding: 10px;
    margin:10px auto;
    box-sizing: border-box;
}
@media (min-width:360px) and (max-width:450px)
{
    .Spinner
    {
        width: 2%;
        margin-left:30%
    }
}