.Employee
{
    width:50%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #999;
    padding: 10px;
    margin:10px auto;
    box-sizing: border-box;
}

@media(min-width:360px) and (max-width:450px)
{
    .Employee{
        width: 95%;
    }
}